<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>در حال بررسی</p>
            </Authorizing>
            <NotAuthorized>
                <p>شما احراز هویت نشده اید</p>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>
    </Found>
    <NotFound>
        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>صفحه مورد نظر یافت نشد</p>
            </LayoutView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    </NotFound>
</Router>
